<template>
  <ScenarioForm>

  </ScenarioForm>
</template>

<script>
import ScenarioForm from './components/ScrenarioForm';

export default {
  name: 'App',

  components: {
    ScenarioForm,
  },

  data: () => ({
    //
  }),
};
</script>
